@{
    ViewBag.Title = "Home Page";
}

<div id="sinem" class="jumbotron">
    f
</div>

@if (User.Identity.IsAuthenticated)
{

    /*<div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary" style="border-color: #6ab0da;">
                <div class="panel-heading">Para el profesor</div>
                <div class="list-group">
                    <a href="/cursos/Index" class="list-group-item">Lista de cursos</a>
                    <a href="/Aulas/Create" class="list-group-item">Crear aula</a>
                    <a href="/Usuarios/Index" class="list-group-item">Lista de usuarios</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary" style="border-color: #6ab0da;">
                <div class="panel-heading">Para el profesor</div>
                <div class="list-group">
                    <a href="/cursos/Index" class="list-group-item">Lista de cursos</a>
                    <a href="/Aulas/Create" class="list-group-item">Crear aula</a>
                    <a href="/Usuarios/Index" class="list-group-item">Lista de usuarios</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary" style="border-color: #6ab0da;">
                <div class="panel-heading">Para el profesor</div>
                <div class="list-group">
                    <a href="/cursos/Index" class="list-group-item">Lista de cursos</a>
                    <a href="/Aulas/Create" class="list-group-item">Crear aula</a>
                    <a href="/Usuarios/Index" class="list-group-item">Lista de usuarios</a>
                </div>
            </div>
        </div>

    </div>*/
}