@{
    ViewBag.Title = "Home Page";
}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width:100%">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item item active">
            <img class="d-block"  style="width:100%" src="/Content/s1.jpg" alt="First slide">
        </div>
        <div class="carousel-item item">
            <img class="d-block "  style="width:100%" src="/Content/s2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item item" >
            <img class="d-block "  style="width:100%" src="/Content/s3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@if (User.Identity.IsAuthenticated)
{

    /*<div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary" style="border-color: #6ab0da;">
                <div class="panel-heading">Para el profesor</div>
                <div class="list-group">
                    <a href="/cursos/Index" class="list-group-item">Lista de cursos</a>
                    <a href="/Aulas/Create" class="list-group-item">Crear aula</a>
                    <a href="/Usuarios/Index" class="list-group-item">Lista de usuarios</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary" style="border-color: #6ab0da;">
                <div class="panel-heading">Para el profesor</div>
                <div class="list-group">
                    <a href="/cursos/Index" class="list-group-item">Lista de cursos</a>
                    <a href="/Aulas/Create" class="list-group-item">Crear aula</a>
                    <a href="/Usuarios/Index" class="list-group-item">Lista de usuarios</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary" style="border-color: #6ab0da;">
                <div class="panel-heading">Para el profesor</div>
                <div class="list-group">
                    <a href="/cursos/Index" class="list-group-item">Lista de cursos</a>
                    <a href="/Aulas/Create" class="list-group-item">Crear aula</a>
                    <a href="/Usuarios/Index" class="list-group-item">Lista de usuarios</a>
                </div>
            </div>
        </div>

    </div>*/
}

@section Scripts {
<script>
    $(".carousel").carousel();
    </script>
}