
@{
    ViewBag.Title = "Inicio de Sesión"; @*titulo de la pagina*@
}

<br />
<div  id="sinem" style="min-height:500px;">
    <div class="row">
        <div class="col-md-4 col-sm-1"></div>
        <div class="col-md-4 col-sm-10" style="margin:20px;padding:40px; box-shadow:2px 2px 2px 2px rgba(0,0,0,0.3);background-color:white;">
            
            <h2 style="color:black;">Iniciar Sesión</h2>@* aqui se vizualiza lo que es el nombre del login con su respectivo color y tamaño *@
            @if(ViewBag.mensaje!="")
            {
                <div class="alert alert-danger" role="alert">@ViewBag.mensaje</div>
            }
            <form action="/Account/Login" method="post" id="Formulario">
                <div class="form-group">
                    @* En esta seccion aqui podemos ver  el tipo de usuario del login *@
                    <label for="user" style="color:black;">Usuario</label>
                    <input type="text" style="color:black;" class="form-control" id="user" name="user">@* el tipo de texto y su color*@
                    <span id="result" />
                </div>
                @*En esta otra seccion aqui podemos ver la contraseña  del login *@
                <div class="form-group">
                    <label for="pass" style="color:black;">Contraseña </label>@* de aqui tambien podemos visualizar el color de las letras, nombre. *@
                    <input type="password" class="form-control" style="color:black;" id="pass" name="pass">
                </div>
                @* En esta seccion se puede visualizar lo que es el boton submit para poder ingresar al sistema *@
                <button type="submit" class="btn btn-default">Ingresar</button>
                
            </form>
        </div>
        <div class="col-md-4 col-sm-1"></div>

    </div>

</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/jscript">
            function hash(algo, str) {
                return crypto.subtle.digest(algo, new TextEncoder().encode(str));
            }
            function enconde64(buff) {
                return btoa(new Uint8Array(buff).reduce((s, b) => s + String.fromCharCode(b), ''));
            }
            $("#Formulario").submit(function (e) {
                e.preventDefault();
                var form = this;
                hash('SHA-256', form.pass.value).then(hashed => {
                    form.pass.value = enconde64(hashed);
                    $("#pass").hide();
                    form.submit();
                });
            });
         
        </script>
    }














@*
    @section Scripts{
        @await  Html.PartialAsync("_ValidationScriptsPartial")
    }

*@


@*

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }

*@




@*
    <script>
        function UserCheck() {
            $("#Status").html("Checking...");
            $.post("@Url.Action("CheckUsernameAvailability", "Home")",
                {
                    userdata: $("#user").val()
                },
            function (data) {
                if (data == 0) {
                    $("#Status").html('<font color="Green">Available !. you can take it.</font>');
                    $("#user").css("border-color", "Green");

                }
                else {
                    $("#Status").html('<font color="Red">That name is taken.Try Another.</font>');
                    $("#user").css("border-color", "Red");
                }
            });
        }
    </script>

*@