@model Sinem.Models.GestionCurso
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Matricular</title>
</head>
<body>
    <h2>Comprobante de matricula</h2>
    <h3>Nombre: @Model.idCurso</h3>
</body>
</html>
