@model String
@{
    ViewBag.Title = "ResultadoMatricula";
}

<h2>ResultadoMatricula</h2>

<a href="/GestionCurso/Pdf/@Model" target="_blank">Abrir comprobante en nueva pestaña</a>




<div>
    @Html.ActionLink("Regresar", "Index","Home")
</div>