@model String
@{
    ViewBag.Title = "ResultadoMatricula";
}

<h2>Resultado de tu Matricula</h2>

<a href="/GestionCursos/Pdf/@Model" target="_blank">Abrir comprobante en nueva pestaña</a>




<div>
    @Html.ActionLink("Regresar", "Index","Home")
</div>